.posts {
    a {
        text-decoration: inherit;
        color: inherit;
    }


    .all-posts {

        .card {
            min-height: 200px;
            max-height: 421px;

            p {
                height: 110px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        img {
            max-height: 200px;
            object-fit: cover;
        }

    }

    .post {

        h4 {
            line-height: 1.25em;
        }

        h6 {
            margin-bottom: 20px;
        }

        p {
            margin: 0 0 20px 0;
        }

        img {
            width: 100%;
            float: left;
        }

        #qn {
            max-height: 300px;
            object-fit: contain;
            width: auto;
            padding-right: 20px;
            margin-bottom: 5px;
        }

        .question {
            font-size: 20px;
        }

        .message {
            font-size: 20px;
            color: #ffea00;
            padding: 10px 20px;
            margin-bottom: 20px;
            border-radius: 5px;

            a {
                color: #fff;
            }
        }

        .options{
            color: inherit;

            .option-text {
                margin-bottom: 20px;
            }

            .option-poll {
                margin: 0px;
                margin-bottom: 40px;
                padding: 0px;

            }
            
            .points {
                height: 40px;
                line-height: 40px;
                border: 1px solid black;
                border-right: 0px;
                border-radius: 5px 0px 0px 5px;
            }
            
            .vote {
                height: 40px;
                line-height: 40px;
                border-radius: 0px 5px 5px 0px;
            }
        }

        .duration{

            .row .cir {
                margin: 0 auto;
                background-color: #fff59d;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                line-height: 50px;
            }

            h6 {
                margin: 0px;
                margin-bottom: 20px;
            }
            
        }

    }

}

.grid {
    margin: 0 auto;
}

.grid-item {
    float: left;
    margin: 0px;
    width: 100%;
}

// @media all and (min-width: 600px) {
//     .grid-item {
//         width: 44%;
//     }
// }