#home {
    margin: -40px -20px;
    a {
        cursor: default;
    }
    
    #row-1 .col {
        background: url('/road_decide.jpg') no-repeat center center ;
        background-size: cover;
        padding: 210px 0px 240px 0px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #intro-text-1 {
        animation: bounceInLeft 1.1s both;
        font-family: 'Pacifico', cursive;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        font-size: 100px;
        color: #fff;
    }

    #intro-text-2 {
        animation: bounceInLeft 1.1s both;
        // text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        font-size: 12px;
        color: #fff;
        letter-spacing: .4rem;
        // border: 2px solid #fff;
        border-radius: .2rem;
        width: fit-content;
        padding: .7rem 1.3rem;
        margin: 0px auto;
        background-color: #009688;
        font-weight: 400;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    @keyframes bounceInLeft {
        0% {
            transform: translateX(-600px);
            animation-timing-function: ease-in;
            opacity: 0;
        }
        38% {
            transform: translateX(0);
            animation-timing-function: ease-out;
            opacity: 1;
        }
        55% {
            transform: translateX(-68px);
            animation-timing-function: ease-in;
        }
        72% {
            transform: translateX(0);
            animation-timing-function: ease-out;
        }
        81% {
            transform: translateX(-28px);
            animation-timing-function: ease-in;
        }
        90% {
            transform: translateX(0);
            animation-timing-function: ease-out;
        }
        95% {
            transform: translateX(-8px);
            animation-timing-function: ease-in;
        }
        100% {
            transform: translateX(0);
            animation-timing-function: ease-out;
        }
    }

    // #row-2
    .intro-stuff {
        // background-color: red;
        // border: 1px solid #eeeeee;
        margin-bottom: 100px;
        
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Jua', sans-serif;
            color: #ffea00;
        }
        
        // apply the same effect on all col of #about, #what, #how
        .col{
        }        
    }
    
    #about {
        // to edit a specific col in the row
        .col:nth-child(3) {
            background-color: #eeeeee;
        }
    }
    #what {
        .col:nth-child(2) {
            background-color: #eeeeee;
        }
    }
    #how {
        .col:nth-child(3) {
            background-color: #eeeeee;
        }
    }

}

@media only screen and (min-width: 600px) {
    #row-1 .col {
        padding: 150px 20px;
    }
}