main {
    padding-bottom: 0px;
}

#home {
    margin: -40px -20px;
    
    #row-1 .col {
        background: url('/road_decide.jpg') no-repeat center center ;
        background-size: cover;
        padding: 250px 20px;
        text-align: center;
        color: #80cbc4;
        font-family: 'Baloo Bhai', cursive;
        font-size: 40px;
        text-shadow: 2px 2px 5px rgba(100,100,100,1);
        
        .intro-1 {
            animation: yourAnimation 1s forwards 0s linear;
        }

        .intro-2 {
            animation: yourAnimation2 2s forwards 0s linear;
            font-size: 30px;
            color: #ffffff;
        }
    }

    @keyframes yourAnimation{
        0%{
            opacity: 0;
            }
        100%{
            opacity: 1;
            }
    }

    @keyframes yourAnimation2{
        0%{
            opacity: 0;
            }
        20%{
            opacity: 0;
            }
        80%{
            opacity: 1;
            }
    }



    #row-2 {
        // background-color: red;
        .col {

            h4 {
                font-family: 'Jua', sans-serif;
            }


        }
    }
}

@media only screen and (min-width: 600px) {
    #row-1 .col {
        padding: 150px 20px;
    }
}