.comments {
    .notloggedin {
        // border: 1px solid pink;
        padding: 18px;
        border-radius: 2px;
        margin: 1rem 0 1rem 0;
        background-color: #00968855;
        text-align: center;

        a {
            text-decoration: underline;
        }
    }
}