.page-footer {
    background-color: #fff;
    padding: 20px 0px;
    font-size: 1em;
    border-top: 1px solid #eceff1;
    box-sizing: border-box;
    margin-top: 30px;

    .footer .row {
        margin: 0px;

        .col {
            margin: 0px;
        }
    }

    a {
        color: inherit;
        font-size: 1.4em;
    }
}