nav {
    box-shadow: none;
    background-color: #009789 !important;

    color: white;
    font-family: 'PT Sans', sans-serif;

    ul a {
        color: #fff;
    }

    .brand-logo {
        color: #ffea00;
        font-family: 'Jua', sans-serif;
        font-size: 40px;
    }
}

.sidenav {
    padding-top: 40px;
}